<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>login</title>
</head>
<body>
<h1>Login</h1> <hr>
<img src="assets/img/avataaars.svg" style="width: 30px "height="30px"/>

<form action="/login" method="POST">
  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
  email : <input type="email" name="username"> <br>
  password : <input type="password" name="password"> <br>
  <button type="submit">Login</button>
</form> <br>

<a href="/signup">회원가입 →</a>
</body>
</html>